main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

header, section {
    padding: 30px;
}

header { 
    position: fixed;
    height: 100vh;
    width: 270px;
    box-shadow: 1px 0px 15px black;
}

.busca_container {
    display: flex;
}

.busca_input {
    border-radius: 5px 0 0 5px ;
}

.button_input {
    border-radius: 0 5px 5px 0;
}

section {
    margin-left: 270px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    width: fit-content;
    background-color: rgb(13, 36, 65);
}

.formulario_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    width: 50%;
    min-width: 300px;
    margin-bottom: 25px;
}

.input {
    flex-direction: column;
    display: flex;
    margin-bottom: 15px;
}

input, textarea, select {
    padding: 7px;
    background-color: rgb(16, 43, 75);
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
}

#botaoCadastrar{
    width: 100px;
    margin: auto;
    display: block;
}

#botaoRedirecionar {
    margin-top: 10px;
}

.botaoFuncao {
    font-size: .6rem;
    margin-right: 5px;
}

.imagem {
    border-radius: 5px;
    width: 150px;
    height: 210px;
    object-fit: cover;
}

table{
    margin: auto;
    width: 70%;
}

td, th {
    color: black;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

p.titulo {
    font-size: 1.1rem;
}

p.diretor {
    font-size: .9rem;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

section.conteudo_principal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}